<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <image src="<%= book.image %>" width="300" height="auto" alt="<%= book.title %> by <%= book.author %>">
      <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <h5 class="card-title"><%= book.author %></h5>
        <p class="card-text"><%= book.description %></p>
      </div>
      <div class="card-body">
        <a href="/books/<%= book._id %>/edit" class="card-link btn btn-primary col-md-3">Edit</a>
        <a href="/books" class="card-link btn btn-info col-md-3">All Books</a>
        <form class="d-inline" action="/books/<%= book._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger col-md-3">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
