<% layout('layouts/boilerplate') %>
<% let formatter = new Intl.NumberFormat('en-CA', { style: 'currency', currency: 'CAD'}); %>

<div class="row">
  <div class="col-md-12 pt-3">
    <h5 class="card-title">New Order</h5>
    <form action="/pages" method="POST">
      <input type="submit" value="Open Amazon" name="pageOption" class="btn btn-info mb-3">
      <input type="submit" value="Close Browser" name="pageOption" class="btn btn-warning mb-3">
      <input type="submit" value="Get Book Info" name="pageOption" class="btn btn-success mb-3">
    </form>
    <form action="/orders" method="POST">
      <div class="card">
        <div class="card-body">
          <div class="container fw-bold">
            <table id="bookRow" class="table table-striped">
              <thead>
                <tr class="fs-5">
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Author</th>
                  <th scope="col">ISBN</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Price</th>
                  <th scope="col">Vendor</th>
                </tr>
              </thead>
              <tbody id="bookRowBody">
                <% if (orderItems.length > 0) { %>
                  <% for (const [index, item] of orderItems.entries()) { %>
                    <tr>
                      <th scope="row"><%= index + 1 %>.</th>
                      <td><input type="text" id="title" size="40" name="item[book][title]" value="<%= item.book.title %>"></td>
                      <td><input type="text" id="author" size="30" name="item[book][author]" value="<%= item.book.author %>"></td>
                      <td><input type="text" id="isbn" size="12" name="item[book][isbn]" value=<%= item.book.isbn %>></td>
                      <td><input type="text" id="quantity" size="1" style="text-align:right;" name="item[quantity]" value=<%= item.quantity %>></td>
                      <td><input type="text" id="price" size="3" style="text-align:right;" name="item[price]" value=<%= formatter.format(item.price) %>></td>
                      <td><input type="text" id="vendor" size="6" name="item[vendor]" value=<%= item.vendor %>></td>
                      <td><input type="button" class="btn btn-warning" value="Remove Book" onclick="RemoveBookRow(this)"></td>
                    </tr>
                  <% } %>
                  <th><td class="fs-5" colspan="4">Order Total = <%= formatter.format(orderCost) %> (not including taxes)</td></th>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer col-md-6 btn-toolbar" role="toolbar" aria-label="Toolbar">
          <div class="btn-group" role="group" aria-label="button group">
            <button type="submit" class="btn btn-success">Save Order</button>
            <div class="mr-2">
              <a href="/orders" class="card-link btn btn-danger">Back to Orders</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  function RemoveBookRow(o) {
   let p = o.parentNode.parentNode;
       p.parentNode.removeChild(p);
  }
</script>
